#canvas{
    position: absolute;
    top:0;
    bottom: 250px;
    left: 0;
    right: 0;

    margin: auto;
    background-color: lightgray;
}

#coins{
    width: 400px;
    height: 50px;
    position: absolute;
    top: 150px;
    bottom: 0px;
    left: 0;
    right: 50px;

    margin: auto;
    font-size: 50px;
    font-family: "Montserrat Light";
}

#LeftColors{
    width: 250px;
    height: 500px;
    background-color: gray;
    position: absolute;
    top:0;
    bottom: 250px;
    left: 0;
    right: 770px;

    margin: auto;
}

#red{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 375px;
    left: 0;
    right: 120px;
    margin: auto;

    background-color: red;
    border: none;
}
#blue{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 375px;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: blue;
    border: none;
}

#green{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 125px;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: green;
    border: none;
}

#yellow{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 125px;
    left: 0;
    right: 125px;
    margin: auto;

    background-color: yellow;
    border: none;
}

#orange{
    position: absolute;
    width: 105px;
    height: 105px;
    top:125px;
    bottom: 0;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: orange;
    border: none;
}

#purple{
    position: absolute;
    width: 105px;
    height: 105px;
    top:375px;
    bottom: 0;
    left: 0;
    right: 120px;
    margin: auto;

    background-color: purple;
    border: none;
}

#deeppink{
    position: absolute;
    width: 105px;
    height: 105px;
    top:375px;
    bottom: 0;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: deeppink;
    border: none;
}

#black{
    position: absolute;
    width: 105px;
    height: 105px;
    top:125px;
    bottom: 0;
    left: 0;
    right: 120px;
    margin: auto;

    background-color: black;
    border: none;
}

#RightColors{
    width: 250px;
    height: 500px;
    background-color: gray;
    position: absolute;
    top:0;
    bottom: 250px;
    left: 770px;
    right: 0;

    margin: auto;
}

#Rred{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 375px;
    left: 0;
    right: 120px;
    margin: auto;

    background-color: red;
    border: none;
}

#Rblue{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 375px;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: blue;
    border: none;
}

#Rgreen{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 125px;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: green;
    border: none;
}

#Ryellow{
    position: absolute;
    width: 105px;
    height: 105px;
    top:0;
    bottom: 125px;
    left: 0;
    right: 125px;
    margin: auto;

    background-color: yellow;
    border: none;
}

#Rorange{
    position: absolute;
    width: 105px;
    height: 105px;
    top:125px;
    bottom: 0;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: orange;
    border: none;
}

#Rpurple{
    position: absolute;
    width: 105px;
    height: 105px;
    top:375px;
    bottom: 0;
    left: 0;
    right: 120px;
    margin: auto;

    background-color: purple;
    border: none;
}

#Rdeeppink{
    position: absolute;
    width: 105px;
    height: 105px;
    top:375px;
    bottom: 0;
    left: 120px;
    right: 0;
    margin: auto;

    background-color: deeppink;
    border: none;
}

#Rblack{
    position: absolute;
    width: 105px;
    height: 105px;
    top:125px;
    bottom: 0;
    left: 0;
    right: 120px;
    margin: auto;

    background-color: black;
    border: none;
}

#Progression{
    width: 1020px;
    height: 250px;
    position: absolute;
    top:520px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    background-color: gray;
}

#HEALTH{
    position: absolute;
    width: 100px;
    height: 50px;
    top:0px;
    bottom: 150px;
    left: 0;
    right: 880px;
    margin: auto;

    font-size: 40px;
    font-family: "Montserrat Light";
}

#SHIELD{
    position: absolute;
    width: 100px;
    height: 50px;
    top:0px;
    bottom: 0;
    left: 0;
    right: 880px;
    margin: auto;

    font-size: 40px;
    font-family: "Montserrat Light";
}

#SPEED{
    position: absolute;
    width: 100px;
    height: 50px;
    top:150px;
    bottom: 0;
    left: 0;
    right: 880px;
    margin: auto;

    font-size: 40px;
    font-family: "Montserrat Light";
}

#health1{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 0;
    right: 500px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health2{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 0;
    right: 360px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health3{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 0;
    right: 220px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health4{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 0;
    right: 80px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health5{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 60px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health6{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 200px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health7{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 340px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health8{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 480px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health9{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 620px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#health10{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 150px;
    left: 760px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#healthPrice{
    position: absolute;
    width: 100px;
    height: 50px;
    top:0;
    bottom: 155px;
    left: 925px;
    right: 0;
    margin: auto;

    font-size: 50px;
    font-family: "Montserrat Light";
}

#shield1{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 0;
    right: 500px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield2{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 0;
    right: 360px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield3{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 0;
    right: 220px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield4{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 0;
    right: 80px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield5{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 60px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield6{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 200px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield7{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 340px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield8{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 480px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield9{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 620px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shield10{
    position: absolute;
    width: 50px;
    height: 50px;
    top:0;
    bottom: 0;
    left: 760px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#shieldPrice{
    position: absolute;
    width: 100px;
    height: 50px;
    top:0;
    bottom: 5px;
    left: 925px;
    right: 0;
    margin: auto;

    font-size: 50px;
    font-family: "Montserrat Light";
}

#speed1{
    position: absolute;
    width: 50px;
    height: 50px;
    top:150px;
    bottom: 0;
    left: 0;
    right: 500px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed2{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 360px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed3{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 220px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed4{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 80px;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed5{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 60px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed6{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 200px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed7{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 340px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed8{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 480px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed9{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 620px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speed10{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 760px;
    right: 0;
    margin: auto;

    background-color: white;
    border: none;
    outline: none;
}

#speedPrice{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 150px;
    bottom: 0;
    left: 925px;
    right: 0;
    margin: auto;

    font-size: 50px;
    font-family: "Montserrat Light";
}